.menu__title {
    color: var(--color-de-fuente);
    white-space: nowrap;
    padding-right: 0.9rem;
}

.menu_tech {
    color: #fff; /* Color por defecto */
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0055, 0 0 30px #ff0055, 0 0 40px #ff0055, 0 0 50px #ff0055, 0 0 60px #ff0055; /* Efecto neón */
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

.menu_tech:hover {
    color: #ff0055; /* Color neón cuando el cursor pasa por encima */
    text-shadow: 0 0 10px #fff, 0 0 20px #ff0055, 0 0 30px #ff0055, 0 0 40px #ff0055, 0 0 50px #ff0055, 0 0 60px #ff0055, 0 0 70px #ff0055;
    font-weight: bold; /* Opción para hacer más grueso el texto */
}



@media screen and (min-width:0) {
    .menu__title {
        font-size: 1.6rem;
        font-weight: 700;
    }
}

@media screen and (min-width:768px) {

}

@media screen and (min-width:1080px) {

}

@media screen and (min-width:1440px) {

}