section.formcontato {
    background-color: var( --color-de-fondo-even);
    color: var(--color-de-fuente);
    display: flex;
    justify-content: center;
    padding: 3.8rem;
}



@media screen and (min-width: 0px) {
    section.formcontato {
        padding: 8rem 10.5rem 6.5rem 12.5rem;
    }
}

@media screen and (min-width: 768px) {
    section.formcontato {
        padding: 10rem;
    }
}


@media screen and (min-width: 1400px) {
    section.formcontato {
        padding: 12.95rem 15.2rem 6.55rem 15.2rem;
    }
}